<!doctype html>
<html>
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ site.description }}" />
    <meta name="author" content="{{ site.author }}" />

    <link href='http://fonts.googleapis.com/css?family=IM+Fell+English+SC|IM+Fell+English:400,400italic' rel='stylesheet' type='text/css'>
    <link href="/css/main.css" rel='stylesheet' type="text/css">
    <link href="/css/syntax.css" rel='stylesheet' type="text/css">
</head>
<body class="preload {{ page.class }}">

<header>
    <a href="#" class="" id="nav-toggler">
        <span class="symbol">
            <span></span>
            <span></span>
            <span></span>
        </span>
    </a>
    <div class="logo">
        <a href="/">
            <img class="static-logo" src="/img/logo@2x.png">
            <img class="animated-logo" src="/img/logo@2x.gif">
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="/">
                BLOG
            </a></li>
            <li><a href="/gallery/">
                GALLERY
            </a></li>
        </ul>
    </nav>
</header>
<div class="wrapper">
    {{ content }}
</div>

<script src="/js/main.js"></script>
{% contentblock scripts %}
</body>
</html>



